.cabeçalho {
    background-color: rgb(165, 135, 193);
    color: white;
    display: flex;
    padding: 2%;
    font-size: 24px;
    justify-content: space-around;
}
.cabeçalho-imagem {
    width: 10%;
    height: 10%;
}
.cabeçalho-item {
    display: inline-block;
}
.escola {
    background-color: rgb(165, 99, 226);
    color: white;
    font-size: 24px;
    padding: 300px 250px;
}
.escola-titulo {
    padding: 24px 0;
}
body {
    font-family: sans-serif;
}
.estudante {
    background-color: rgb(205, 200, 200);
    padding: 30px;
}
.estudante-div {
    text-align: center;
    padding: 24px 0;
    
}
.estudante-imagem {
    width: 120px;
}
.estudante-titulo {
    text-align: center;
    padding: 0 0 0 20px;
    
}
.estudante-todos {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
}
